@model Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Category Create</h2>
    <br />
    <form asp-controller="Category" asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="CategoryName" class="form-label">Category Name</label>
            <input asp-for="CategoryName" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>